/** @format */
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    #1a1a1a,
    #333333
  ); /* subtle dark gradient */
  color: #fff;
  padding: 20px;
}
h1 {
  font-size: 42px;
  color: #4ec5c1; /* gold to highlight black background */
  margin-bottom: 12px;
  text-shadow: 1px 1px 3px #000;
}
p {
  font-size: 20px;
  color: #f3f3f3;
  margin-bottom: 25px;
}
#form {
  padding: 25px;
  display: flex;
  flex-direction: column;
  background: #111; /* dark form */
  border-radius: 12px;
  gap: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

label {
  font-size: 18px;
  font-weight: 600;
  color: #f3f3f3; /* gold accent */
}
input {
  height: 35px;
  width: 280px;
  border: 2px solid #555;
  border-radius: 6px;
  padding: 0 12px;
  font-size: 15px;
  font-weight: 500;
  background: #222;
  color: #fff;
}

input:focus {
  outline: none;
  border-color: #5a67d8;
}
input::placeholder {
  color: #aaa;
  font-size: 15px;
  font-weight: 500;
}

#submitBtn {
  height: 40px;
  width: 160px;
  align-self: center;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  background-color: #4ec5c1; /* button highlights black */
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease;
  /* color: white; */
}
#submitBtn:hover {
  background-color: #4ec5c1; /* slightly darker gold */
  transform: translateY(-2px);
  /* color: white; */
}

#submitBtn:active {
  transform: scale(0.98);
}
