/** @format */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.heading {
  text-align: center;
  font-family: "Arial", sans-serif;
  margin-top: 20px;
  color: #333;
}
canvas {
  border: 2px dashed #000;
  /* display: block; */
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  align-self: center;
}
#clearBtn {
  margin-left: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#undoBtn {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4d79ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
#redoBtn {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffb84d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
#penBtn {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4dff88;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
#eraserBtn {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffa64d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
label {
  font-family: "Arial", sans-serif;
  margin-left: 20px;
  font-size: 16px;
}

#rectangleBtn {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #b84dff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
