/** @format */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header {
  border: 1px solid red;
}
.heading {
  text-align: center;
  font-family: "Arial", sans-serif;
  margin-top: 20px;
  color: #333;
}
.canvasWrapper {
  width: 100%;
  max-width: 1300px;
  height: 500px;
  position: relative;
  border: 2px dashed #000;
  border-radius: 16px;
  display: flex;
  align-self: center;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
canvas {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: block;
}

#cursorLayer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
#clearBtn {
  margin-left: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#undoBtn {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4d79ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
#redoBtn {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffb84d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
#penBtn {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4dff88;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
#eraserBtn {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffa64d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
label {
  font-family: "Arial", sans-serif;
  margin-left: 20px;
  font-size: 16px;
}
#lineWidthValue {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 10px 0px 10px;
  font-size: 16px;
  font-weight: bold;
}

#rectangleBtn {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #b84dff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
